/* @font-face {
  font-family: outfit;
  src: url(./assets/fonts/outfit.woff2) format(woff2),
    url(./assets/fonts/outfit.woff) format(woff);
}

@font-face {
  font-family: young-serif;
  src: url(./assets/fonts/young-serif.woff2) format(woff2),
    url(./assets/fonts/young-serif.woff) format(woff);
} */

@font-face {
  font-family: outfit;
  src: url(../assets/fonts/outfit.woff2) format("woff2"),
    url(../assets/fonts/outfit.woff) format("woff");
}

@font-face {
  font-family: young-serif;
  src: url(../assets/fonts/young-serif.woff2) format("woff2"),
    url(../assets/fonts/young-serif.woff) format("woff");
}

:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
  --p-font-size: 1.2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "young-serif", sans-serif;
  background-color: var(--stone-100);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  background-color: var(--rose-800);
  padding: 1.5rem;
  text-align: center;
  color: var(--white);
  width: 100%;
  place-self: start;
}

p,
li {
  color: var(--stone-600);
  font-size: var(--p-font-size);
}

h3 {
  color: var(--brown-800);
  font-size: 2rem;
  font-family: "outfit";
  margin-bottom: 1rem;
}

hr {
  color: var(--stone-600);
}

ul,
ol {
  list-style-position: outside;
}

/* recipe container */
.recipe-card {
  font-family: "young-serif", serif;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 3rem;
  max-width: 45rem;
  place-self: center;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
}

.recipe-header img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.recipe-header h2 {
  font-family: "young-serif";
  font-size: 2.4rem;
  color: var(--stone-900);
  margin-bottom: 1rem;
}

/* recipe sections */
.recipe-prep-time {
  background-color: var(--rose-50);
  padding: 2.2rem;
  border-radius: 0.5rem;
}

.recipe-prep-time p {
  font-size: var(--p-font-size);
  color: var(--rose-800);
}

.recipe-ingredient li::marker,
.recipe-instructions li::marker,
.recipe-prep-time li::marker {
  color: var(--brown-800);
  font-weight: 700;
}

.recipe-prep-time li,
.recipe-ingredient li,
.recipe-instructions li {
  margin: 1.5rem;
}

.recipe-prep-time li:last-child {
  margin-bottom: 0;
}

.recipe-instructions li {
  margin-top: 0;
  margin-bottom: 0.3rem;
}

.recipe-nutrition p {
  margin: 1.5rem 0;
}

.recipe-nutrition table {
  border-collapse: collapse;
  width: 100%;
}

.recipe-nutrition table tr {
  border-bottom: 1px solid var(--stone-600);
}

.recipe-nutrition table tr:last-child {
  border-bottom: none;
}

.recipe-nutrition table th,
.recipe-nutrition table td {
  padding: 0.5rem;
  text-align: left;
}

.recipe-nutrition table th {
  color: var(--stone-600);
}
.recipe-nutrition table td {
  color: var(--brown-800);
  font-weight: 800;
}

/* footer */
footer.attribution {
  font-size: 1rem;
  color: var(--brown-800);
  place-self: center;
}

footer.attribution a {
  color: var(--brown-800);
  text-decoration: none;
}

footer.attribution a:hover {
  text-decoration: underline;
  color: var(--white);
}
