:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
  --p-font-size: 1.6rem;
}

@font-face {
  font-family: "outfit";
  src: url("./assets/fonts/outfit.woff2") format("woff2"),
    url("./assets/fonts/outfit.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "young-serif";
  src: url("./assets/fonts/young-serif.woff2") format("woff2"),
    url("./assets/fonts/young-serif.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "outfit", sans-serif;
  background-color: var(--stone-100);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  background-color: var(--rose-800);
  padding: 1.5rem;
  text-align: center;
  color: var(--white);
  width: 100%;
  place-self: start;
}

/* recipe container */
.recipe-card {
  font-family: "young-serif", serif;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 3rem;
  max-width: 45rem;
  place-self: center;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
}

.recipe-header img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.recipe-header h2 {
  font-family: "young-serif";
  font-size: 2.4rem;
  color: var(--stone-900);
  margin-bottom: 1rem;
}

p,
li {
  color: var(--stone-600);
  font-size: var(--p-font-size);
}

h3 {
  color: var(--brown-800);
  font-size: 2rem;
  font-family: "outfit";
  margin: 1.5rem 0;
}

/* prep time */
.recipe-prep-time {
  background-color: var(--rose-50);
  padding: 2.5rem;
  border-radius: 0.5rem;
}

.recipe-prep-time p {
  font-size: 2rem;
  color: var(--rose-800);
}

.recipe-prep-time li {
  margin: 1.5rem 0rem 1.5rem 1.5rem;
}
.recipe-prep-time li:last-child {
  margin-bottom: 0;
}

/* ingredients */

/* To be continued... */

/* footer */
footer.attribution {
  font-size: 1rem;
  color: var(--brown-800);
  place-self: center;
}

footer.attribution a {
  color: var(--green);
  text-decoration: none;
}

footer.attribution a:hover {
  text-decoration: underline;
}
